@font-face {
  font-family: "Diablo";
  src: url(/ofont.ru_Diablo.ttf);
}

html {
  box-sizing: border-box;
  --main-bg-color: rgb(242, 242, 242);
  --main-accent-color: #e91e63;
  --main-content-color: rgb(43, 46, 74);
}

body {
  margin: 0;
  padding: 0 1rem;
  min-height: 100vh;
  font-family: Diablo;
  color: var(--main-content-color);
  background-color: var(--main-bg-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profiles-element {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.profile-controls {
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.active-profile {
  background-color: #e91e63;
}

h1 strong {
  color: var(--main-accent-color);
}

button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  font-size: 100%;
  height: 1.5rem;
  padding: 0.25rem 0.75rem;
  border: none;
  color: var(--main-bg-color);
  background-color: var(--main-content-color);
  outline: none;
  border-radius: 8px;
}

.content-container {
  display: flex;
}

.availible-runewords-container {
  margin-left: 0.5rem;
  display: flex;
}

.availible-runewords {
  padding: 0;
  margin: 0;
  list-style: none;
}

.availible-runewords li {
  margin: 0;
  /* outline: 1px solid red; */
}

.availible-runewords li * {
  margin: 0;
}

.runes-inventory {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-basis: 700px;
  flex-shrink: 0;
  flex-grow: 0;
}

.search-controls {
  grid-column: 1 / 7;
  display: flex;
  justify-content: space-between;
}

.rune-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px solid red; */
  padding: 0.1rem 0.5rem;
}

.rune-container button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  font-size: 100%;
  height: 1.5rem;
  aspect-ratio: 1;
  border: none;
  color: var(--main-bg-color);
  background-color: var(--main-content-color);
  outline: none;
  border-radius: 50%;
}

.rune-info {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rune-info p {
  padding: 0;
}

.rune-img-container {
  width: 25%;
  margin: 0 auto;
}

.rune-img {
  transform: translateX(-40%);
}

.rune-container p {
  margin: 0;
  text-align: center;
  padding: 0.1rem 0.5rem;
}

@media screen and (max-width: 1439px) {
  .runes-inventory {
    grid-template-columns: repeat(3, 1fr);
    flex-basis: 360px;
  }

  .search-controls {
    grid-column: 1 / 4;
  }
}
